---
layout: default
---
<div class="container">
	<header class="clearfix">
		<h1>{{ site.name }}</h1>
	</header>
	<div id="grid-gallery" class="grid-gallery">

	<section class="grid-wrap">
	<ul class="grid">
		<li class="grid-sizer"></li><!-- for Masonry column width -->
		{% for post in site.posts %}
		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/thumb/1.JPG" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>

		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/thumb/2.jpg" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/thumb/3.JPG" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/thumb/4.JPG" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<img src="rhttp://ruby-stha.github.io/img/thumb/5.jpg" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/thumb/6.jpg" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
	</ul>
	</section><!-- // grid-wrap -->

	<section class="slideshow">
	<ul>
		{% for post in site.posts %}
	<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/large/1.JPG" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>

		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/large/2.jpg" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/large/3.JPG" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/large/4.JPG" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/large/5.jpg" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		<li>
			<figure>
				<img src="http://ruby-stha.github.io/img/large/6.jpg" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	<nav>
		<span class="icon nav-prev"></span>
		<span class="icon nav-next"></span>
		<span class="icon nav-close"></span>
	</nav>
	<div class="info-keys icon">Navigate with arrow keys</div>
	</section><!-- // slideshow -->

	</div><!-- // grid-gallery -->
</div>
